img {
  display: inline-block;
  max-width:50%;
  padding-bottom: 5px;
  height: auto;
}

.information{
  display: inline-block;
  position: fixed;
  padding-left: 5px;
}

.attendYes{
   color: green;
}

.attendNo{
   color: red;
}

button.edit{
  background: #eceaea;
  border: solid;
  border-width: 1px;
}

table{
  margin-top: 10px;
  width: 100%;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 10px 5px;
}

.name-menu {
  position: relative;
  display:inline-block;
}
